<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dsn" value="Data Source=localhost\SQLExpress;Initial Catalog=cse136;User Id=cse136;Password=pass1234;"/>
    <add key="logDestination" value="file"/>
    <!--<add key="logDestination" value="db"/>-->
  </appSettings>
</configuration>